.wrap{
    font-size: 20px;
    font-family:'Times New Roman';
    
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.options2{
    justify-content: flex-end;
    
}

.options2 span{
    padding: 10px;
}

.content{
    display: flex;
    height: 300px;
    background: #a2caff;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.content h1{
    font-size: 40px;
}

.footer{
    margin: 0 auto;
    max-width: 1200px;
}

.course1{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.item{
    width: 49.3%;
    height: 50px;
}

.item1{
    display: flex;
    height: 50px;
    background: #a2caff;
    width: 100%;
    text-align: center;    
}

.item1 h3{
    margin: auto 0;
    padding-left: 10px;
}

.item img{   
    width: 80px;
}


.course2{
    max-width: 1200px;
    margin: 0 auto;
}


.box1,.box2{
    display: flex;
    justify-content: space-between;
}

.box2{
    margin-top: 15px;
}

.title{
    width: 24%;
    text-align: center;
    justify-content: center;
    background: #a2caff;
}

.title h2{
    padding: 10%;
}

.title img{
    width: 100%;
}



@media(max-width: 1200px){
    .wrap{
        width: 90%;
        margin: 0 auto;
    }
    
    .box1, .box2{
        flex-wrap: wrap;
    }
    
    .box2{
        margin-top: 0px;
    }
    
    .title{
        width: 49%;
        margin-bottom: 10px;
    }
    .item{
        width: 48.3%;
    }
}



@media(max-width: 600px){
    .options2 span{
        image-rendering: ;
    }


}
